.title{
    text-align: center;
    margin-top: 25px;
    background-color: antiquewhite;
}

.form{
    background-color: red;
    margin: auto;
    max-width: 80%;
    text-align: center;
}

input[type="submit"],button, [aria-label]{
    cursor:pointer;
}
#edit-box{
    background-color: blue;
   max-width: 80%;
   margin: auto;
   margin-top: 10px;
   display: none;
}